@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

.container {
    max-width: calc(1170px + 48px);
    margin: 0 auto;
    @apply px-6;
}

.btn-theme {
    @apply font-semibold border-red-500 border-2 px-5 py-2 bg-white rounded-xl text-red-500 transition-[400ms];
}

.btn-theme:hover {
    @apply text-white bg-red-500;
}

.btn-theme-red {
    @apply font-semibold border-2 px-5 py-2 bg-red-500 rounded-xl text-white transition-[400ms] border-red-500;
}

.btn-theme-red:hover {
    @apply text-red-500 bg-white;
}

.login-content {
    min-height: calc(100vh - 80px);
}

.gheThuong {
    @apply bg-gray-300 h-10 w-10 leading-10 text-center rounded-md;
}

.gheVip {
    @apply bg-orange-400 h-10 w-10 leading-10 text-center rounded-md;
}

.tablePurchase th,
.tablePurchase td {
    @apply py-5 border-t-2;
}

.tablePurchase td {
    @apply text-right;
}

.gheDaDat {
    @apply !cursor-none !bg-gray-800 text-white h-10 w-10 leading-10 text-center rounded-md;
}

/* CSS cho modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 100%; /* Tăng kích thước chiều rộng của modal */
    max-width: 1400px; /* Tăng kích thước chiều rộng tối đa của modal */
    height: 100%; /* Tăng kích thước chiều cao của modal */
    max-height: 800px; /* Tăng kích thước chiều cao tối đa của modal */
    text-align: center;
  }
  