@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
}

.container {
    max-width: calc(1170px + 48px);
    margin: 0 auto;
    @apply px-6;
}

.btn-theme {
    @apply font-semibold border-red-500 border-2 px-5 py-2 bg-white rounded-xl text-red-500 transition-[400ms];
}

.btn-theme:hover {
    @apply text-white bg-red-500;
}

.btn-theme-red {
    @apply font-semibold border-2 px-5 py-2 bg-red-500 rounded-xl text-white transition-[400ms] border-red-500;
}

.btn-theme-red:hover {
    @apply text-red-500 bg-white;
}

.login-content {
    height: calc(100vh - 80px);
}
